<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>bootstrap-vue</string>
    <key>CFBundleName</key>
    <string>Bootstrap Vue</string>
    <key>DocSetPlatformFamily</key>
    <string>bootstrap-vue</string>
    <key>dashIndexFilePath</key>
    <string>docs.html</string>
    <key>DashDocSetFallbackURL</key>
    <string>bootstrap-vue.js.org</string>
    <key>DashDocSetPlayURL</key>
    <string>https://bootstrap-vue.js.org/play</string>
    <key>isJavaScriptEnabled</key>
    <true/>
    <key>isDashDocset</key>
    <true/>
    <key>DashDocSetFamily</key>
    <string>dashtoc</string>
</dict>
</plist>